* {
	margin: 0;
    padding: 0;
}
p {
    font-family: Playfair Display;
    font-size: 30px;
  }
img {
    margin: 15px;
}
h1 {
    font-family: 'Poiret One', cursive;
}
footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 3;
    justify-content: space-evenly;
}
nav {
    background-color: #ffba49;
    font-family: 'Poiret One', cursive;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    justify-content: center;
}
#pageid {
    display: flex;
    justify-content: flex-start;
    font-family: 'Monoton', cursive;
    font-size: auto;
}
#footerimg {
    width: 25%;
    height: auto;
}