* {
	margin: 0;
	padding: 0;
}
p {
    font-family: Playfair Display;
    font-size: 30px;
  }
nav {
    background-color: #ffba49;
    display: flex inline;
	justify-content: space-around;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#pageid {
    font-family: 'Monoton', cursive;
    font-size: 30px;
}
#footerimage {
    img {
        width:auto;
        object-fit: contain;
        border: 15px;
    }
}
@media screen and (min-width: 480px) {
        width: 15px;
    }