// Navigation styling mixin
@mixin navgubbins {
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
    display: flex;
    justify-content: flex-start;
    font-family: 'Monoton', cursive;
    font-size: auto;
}
// Consistent styling throughout the site
* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}
p {
    font-family: Playfair Display;
    font-size: 18px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
  }
a {
    text-decoration: none;
    color: black;
}
img {
    margin: 15px;
}
h1 {
    font-family: 'Poiret One', cursive;
}
h2 {
    margin: auto;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: #ef6f6c;
}
footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 3;
    justify-content: center;
    margin-top: 5%;
    margin-left: 85px;
}
nav {
    background-color: #ffba49;
    font-family: 'Poiret One', cursive;
    font-size: 20pt;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 3;
    justify-content: center;
    justify-content: space-around;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
//   button is a button, kept the same boring design.
  button {
    width: 200px;
    display: block;
    background-color: #ef6f6c;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-top: 3%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
//   Navigation hover effect including styling from the mixin
 .navinline:hover {
    @include navgubbins();
    color: #ef6f6c;
}
// Pink hello font styling
.h2p {
    font-family: 'Indie Flower', cursive;
    font-size: 64px;
    margin: auto 0;
    color: #ef6f6c;
    width: 100%;
}
// black Indie font styling
#h2Black {
    font-family: 'Indie Flower', cursive;
    font-size: 10rem;
    margin: auto 0;
    color: black;
}
// quicklinks child container with flex
.quicklinks_ind {
    display: flex;
    flex-direction: row;
}
.img-p {
    width: 100%;
}
// styling of current page
#pageid {
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;
    display: flex;
    justify-content: flex-start;
    font-family: 'Monoton', cursive;
    font-size: auto;
}
// shrinking of he footer images
#footerimg {
    width: 32%;
    height: auto;
}
// Large quicklinks images shink
#socialimg {
    width: 30%;
    height: auto;
}
// my hero image wich changes places dependant on @media size
.meimg {
    // align-self: center;
}
// general body of the page with some formatting
.homebox {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-shrink: 3;
}
// flex for loading gif on projects page
.centerpro1 {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: auto;
}
// flex and font styling for projects page
.centerpro2 {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-block-end: 80px;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
// Holder page typography
.loading {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    text-align: center;
}
// homepage quicklinks section parent container with some flex sizing and margins
.quicklinks {
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 3;
}
// parent container for forms on contact page
#formbox {
    width: 100;
    margin: 40px;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Indie Flower', cursive;
    font-size: 30pt;
}
// child sections for forms individual sections
#formind {
    display:flex;
    margin-right: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    // border: 2px solid red;
    // border-radius: 4px;
}
// playing with form button
#formbutton {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
// larger box for free flow text
#formbeefbox {
    display: block;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    height: 300px;
    width: 1000px;
}
// media switcher for larger screen (mostly for playing)
@media only screen and (min-width: 1200px) {
    .img-p {
      display: flex;
      flex-direction: row;
      align-content: center;
    }
    // general sizing of image paragraphing (switches with @media size)
    .img-p p{
        font-size: 25pt;
    }
    #formbox {
        font-size: 80px;
    }
}
// media switcher from larger to smaller screens
@media only screen and (max-width: 1199px) {
    .meimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #h2Black {
        display: none;
    
    }
    .quicklinks_ind a {
        width: 100%;
    }
    #formbeefbox {
        width: 330px;
    }
}
// playing around with a hr to divide page up visually
.hr-new2 {
    border-top: 5px dashed black;
    margin: 10px;
    padding: 5px 0px;
  }
//   container for the cv page download link
  #cvcircle {
    width: 300px;
    height: 300px;
    background: #4c5b5c;
    border-radius: 150px;
    margin: 50px auto;
    display: flex;
    flex-shrink: 3;
    flex-direction: row;
    justify-content: center;
    text-align: auto;
}
// preview section for the blog posts
.blog-preview {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // align-content: center;
}
// divider for the form which I got totally stuck on for ages!
#formbutdiv {
    width: 100;
}